{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  
</style>
<!-- Start Page Title Section -->
<div class="page-title-area">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">		
				<div class="page-title-content">
					<h2>About Us</h2>
					<ul>
						<li><a href="{%url 'home'%}">Home</a></li>
						<li>About Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title Section -->

<!-- Start About Section -->
<section class="about-section section-padding">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12">
				<div class="about-content">
					<h6 class="sub-title">About Our Restaurant</h6>
					<h2>Serving since 1983</h2>
					<p>treat Restaurant was established in 1983 as an ala-carte eating place to meet with the increasing
						demand for specialized food and catering services in Nigeria.

						In 1996, she became a Limited Liability Company (RC287, 229) and in the year 2006 metamorphosed
						into a quick service restaurant to meet the growing demand for a fast food type of service.

						Mama Cass operates under the ambit of existing laws and strives to continually improve on best
						practices synonymous with the industry. It is a high growth venture which has outgrown the
						initial business status, having birthed two new companies, namely Jayden Food and confectionery
						and Premier Chef, with the latter taking care of the emerging trend of Corporate and Social
						Events.

						These businesses are managed, by a team of trained professionals with specific competence in the
						food business/ industry.
					</p>


				</div>
			</div>

		</div>
</section>
<!-- <div class="col-lg-6 col-md-12">
					<div class="about-image">
						<img src="{%static 'assets/img/about.jpg'%}" alt="About Images"> 
					</div>
				</div> -->

<section id="bit-our-mission-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 chose-col wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".2s">
				<div class="miss-img">
					<img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="about image">
				</div>
			</div>
			
			<div class="col-lg-6 col-md-12" >
				<div class="">
					<h1>Corporate Objectives</h1>
					
					<li>treat is geared toward producing quality meals and services of the highest international standard.</li>
				
					<li>To identify the needs of target markets.</li>
					<li>To produce quality meals and services of excellent standards, that would exceed the identified needs.</li>
					<li>To carry out goal directed activities that would enable her become a global household name.</li>
					<li>To continually add value to lives by nourishing a community through home cooked traditional meals that exceed expectation and promote tourism.</li>
					<br>
					<p>To achieve the aforementioned objectives therefore, we believe that we should uphold our traditional heritage and values by serving home cooked meals in a fast-food manner but in a conducive and friendly environment.</p>

				</div>
				
				
			</div>
		</div>
	</div>
</section>
<br>
<section>
	<div class="container">
		<h3>Vision/Mission/Core Values</h3>
		<h6>Our Vision</h6>
		<p>Our vision is to be the leading food service provider in our chosen market.</p>

		<h6>Our Mission</h6>
		<p>To provide best quality food service to the satisfaction of all stakeholders.</p>
		<h6>Our Core Value</h6>
		<p>Our core values, are best described as PRITI</p>
		<p>
			P- PASSION FOR EXCELLENCE
			<br>
			R- RESPECT FOR CUSTOMERS
			<br>
			I-INTEGRITY
			<br>
			T-TEAM SPIRIT
			<br>
			I-INNOVATION
		</p>
	</div>
</section>
				
				
<section class="team-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">Team Member</h6>
					<h2>Expert Team</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-image">
						<img src=" {%static 'assets/img/team/team-1.jpg'%}" alt="team">
						<div class="team-social-icon">
							<a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
							<a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
					<div class="team-info">
						<h3>Mike Morgan</h3>
						<span>Brand Chef</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-image">
						<img src="{%static 'assets/img/team/team-2.jpg'%}" alt="team">
						<div class="team-social-icon">
							<a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
							<a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
					<div class="team-info">
						<h3>Alishia Fulton</h3>
						<span>Sous Chef</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-image">
						<img src="{%static 'assets/img/team/team-3.jpg'%}" alt="team">
						<div class="team-social-icon">
							<a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
							<a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
					<div class="team-info">
						<h3>Kevin Haley</h3>
						<span>Juniour Chef</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box">
					<div class="team-image">
						<img src="{%static 'assets/img/team/team-4.jpg'%}" alt="team">
						<div class="team-social-icon">
							<a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
							<a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
					<div class="team-info">
						<h3>Lucas Martinez</h3>
						<span>Head Chef</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



</div>

<!-- End About Section -->

<!-- Start Counter Section -->
<section class="counter-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">20</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Years of Experience</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">700</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Daily Visitors</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">15</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Achievements</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">4500</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Happy Client</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Counter Section -->

<!-- Start Partner section -->
<section class="partner-section pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h6 class="sub-title">Trusted By Over 1200</h6>
					<h2>Our Clients</h2>
				</div>
			</div>
		</div>
		<div class="partner-list">
			<div class="partner-item">
				<a href="#0">
					<img src="{% static '' %}assets/img/partner/client-1.png" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'assets/img/partner/client-2.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'assets/img/partner/client-3.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'assets/img/partner/client-4.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static '' %}assets/img/partner/client-5.png" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'assets/img/partner/client-6.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'assets/img/partner/client-7.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'assets/img/partner/client-8.png' %}" alt="image">
				</a>
			</div>
			<div class="partner-item">
				<a href="#0">
					<img src="{% static 'assets/img/partner/client-9.png' %}" alt="image">
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}