{%extends 'base.html'%}
{% load static %}




{% block content %}
	
	<!-- Start Page Title Section -->
	<div class="page-title-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2>Our Menu</h2>
						<ul>
							<li><a href="{% url 'home'%}">Home</a></li>
							<li>Our Menu</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Title Section -->

	
	<!-- Start Menu of The Day Section -->
	<section id="menu" class="menu-day-area section-padding ">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Tasty & Spicy Recipes</h6>
						<h2>Discover Our Menu</h2>
					</div>
				</div>
				<div class="col-md-12">
					<div class="menu-day-product-content">
						<div class="menu-day-tab-header">
							<ul class="menu-day-tab-list">
								<li class="active">
									<a href="#tab-menu-1"><i class="icofont-fruits"></i><br>Starter</a>
								</li>
								<li>
									<a href="#tab-menu-2"><i class="icofont-lunch"></i><br>Lunch</a>
								</li>
								<li>
									<a href="#tab-menu-3"><i class="icofont-pizza"></i><br>Dinner</a>
								</li>
								<li>
									<a href="#tab-menu-4"><i class="icofont-juice"></i><br>Drinks</a>
								</li>
								<li>
									<a href="#tab-menu-5"><i class="icofont-cup-cake"></i><br>Dessert</a>
								</li>
							</ul>
						</div>
						<div class="menu-day-main-tabs-content">
							<div class="menu-single-tab-content active" id="tab-menu-1">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Sea Bass Ceviche</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span>  ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Grilled Calamari</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1000</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Argentinian Prawns</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1500</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Argentine Sausage Plate</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦2000</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Costela De Porco</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Nachos</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1000</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Empanadas</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦500</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Soup Of The Day</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1000</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="menu-single-tab-content" id="tab-menu-2">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Lobster Bisque</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Buffalo Wings or Tenders</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Mozzarella Sticks</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦600</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Grilled Chicken</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦600</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Onion Rings</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Caesar Selections</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Crab Cake Sandwich</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦500</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Roast Turkey</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦500</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="menu-single-tab-content" id="tab-menu-3">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Plump Lobster Meat</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Tuna Salad</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">French Onion Soup</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦500</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Soup And Sandwich</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1000</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Crisp Romaine Lettuce</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1500</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Savory Crouton</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦500</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="menu-single-tab-content" id="tab-menu-4">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Coke, Coke Light and Tab</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1000</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Fanta</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦100</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Lemonade</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦300</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Ginger Ale</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦800</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Dry Lemon Appletizer</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦700</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Fresh Citrus</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦700</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="menu-single-tab-content" id="tab-menu-5">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Mixed Berry Mousse</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Mango and Coconut</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Homemade Carrot Cake</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦600</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Sponge Cake</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦1200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Full Month Cakes</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦200</span>
												</div>
											</div>
										</div>
										<div class="menu-single-product-horizontal">
											<div class="menu-product-info-box">
												<div class="menu-product-details"><a class="menu-product-title"
														href="#">Sliced Cake</a>
													<p>Our passion for the excellent food</p>
												</div>
												<div class="menu-product-price"><span> ₦500</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Menu of The Day Section -->
	<!-- Start Hire Section -->
	<section class="hire-area section-padding">
		<div class="container">
			<div class="hire-content">
				
				<h2>Book A Table Now !</h2>
				<h3>CALL US: <a href="tel: 09068398792" class="call-button"> +2349068398792</a></h3>
				<a href="#0" class="default-btn">Book A Table <span></span></a>
			</div>
		</div>
	</section>
	<!-- End Hire Section -->
	
	
	
	
{% endblock %}


